/*main_page variables*/
/*creating my variables*/
$firstColor: #19FFFF;
$primaryColor:#A0EF4C;/*FRENCH LIME*/
$secondaryColor:black;
$thirdColor:#8B8880;/*ROCKET METALLIC*/
$fourthColor:#77A4FF;/*FRENCH SKY BLUE*/
$firthColor:#8C6D08;/*GAMBOGE ORANGE (BROWN)*/
$sixrthColor:#C87373;/*ROSE GOLD*/
$tertiaryColor:#EFC44C;/*MAXIMUM YELLOW RED*/
$baseFont-size:20px;
$baseColor:#fff;

/*gallery variables*/
/*variables*/
$firstColor: #eaeaea;
$primaryColor:#4a89ca;
$secondaryColor:#fff;
$thirdColor:#345d88;
$fourthColor:#333B31;
$firthColor:#FFA78B;
/*contact variables*/
/*variable*/
$firstColor:#ccc;
$secondColor:#4CAF50;
$thirdColor:#45a049;
$fourthColor:#f9f9f9;
$firthColor:#f2f2f2;
